<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!backButton"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="hide-on-small-device">Evénements du compteur</span>
      {{ timeCounterName }}
    </ion-title>
    <ion-back-button #backButton slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="timeCounterEvents">
    <app-time-counter-event
      *ngFor="let event of timeCounterEvents; index as i; first as isLast"
      [event]="event"
      [isLast]="isLast"
    ></app-time-counter-event>
    <ion-button [hidden]="noMoreData || !timeCounterEvents.length" (click)="loadMore()" fill="clear">Afficher plus d'évenements</ion-button>
  </ion-list>
</ion-content>
