<form *ngIf="form" [formGroup]="form" class="register-form ion-padding">
    <ion-item>
        <ion-label position="floating">Email *</ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
        <span class="error-message" *ngIf="form.hasError('email')">{{ form.getError('email') }}</span>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Mot de passe *</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
        <span class="error-message" *ngIf="form.hasError('password')">{{ form.getError('password') }}</span>
    </ion-item>
    <ion-button (click)="login()" [disabled]="!form || !form.valid" id="login" type="submit">Se connecter</ion-button>
    <ion-button (click)="register()" [disabled]="!form || !form.valid" id="register" type="submit">S'enregistrer</ion-button>
</form>
