<ion-content>
  <ion-list>
    <ion-list-header>Actions</ion-list-header>

    <ion-item (click)="startInPast()" *ngIf="!timeCounter.startTimestamp" button>
      <ion-icon name="time" slot="start"></ion-icon>
      Démarrer dans le passé
    </ion-item>

    <ion-item (click)="stopInPast()" *ngIf="timeCounter.startTimestamp" button>
      <ion-icon name="time" slot="start"></ion-icon>
      Arrêter dans le passé
    </ion-item>

    <ion-item (click)="cancel()" *ngIf="timeCounter.startTimestamp" button>
      <ion-icon name="close-circle" slot="start"></ion-icon>
      Annuler l'événement
    </ion-item>

    <ion-item (click)="events()" button>
      <ion-icon name="medal" slot="start"></ion-icon>
      Evénements
    </ion-item>

    <ion-item (click)="delete()" button>
      <ion-icon name="trash" slot="start"></ion-icon>
      Supprimer
    </ion-item>
  </ion-list>
</ion-content>
