<app-tags-list
  (tagsSelected)="tagsSelected$.next($event)"
  [grayWhenNoSelected]="true"
  [withClearButton]="true"
  [withIcons]="false"
></app-tags-list>

<ion-grid class="scrollable">
  <ion-row *ngIf="allCounters$">
    <ion-col>
      <ng-container *ngFor="let genericCounter of showedCounters$ | async">
        <app-counter *ngIf="genericCounter.type === 'counter'" [counter]="genericCounter.counter"></app-counter>
        <app-time-counter *ngIf="genericCounter.type === 'timeCounter'" [timeCounter]="genericCounter.counter"></app-time-counter>
      </ng-container>
      <app-add-counter></app-add-counter>
    </ion-col>
  </ion-row>
</ion-grid>
