<ion-content>
    <ion-list>

        <ion-list-header>Actions</ion-list-header>

        <ion-item (click)="events()" button>
            <ion-icon name="medal" slot="start"></ion-icon>
            Evénements
        </ion-item>

        <ion-item (click)="chart()" button>
            <ion-icon name="analytics" slot="start"></ion-icon>
            Graphique
        </ion-item>

        <ion-item (click)="delete()" button>
            <ion-icon name="trash" slot="start"></ion-icon>
            Supprimer
        </ion-item>

    </ion-list>
</ion-content>
