<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-tags-list
    (clickedOnRemoveButton)="deleteTag($event)"
    (clickedOnTag)="editTag($event.tag)"
    [grayWhenNoSelected]="false"
    [withAddButton]="true"
    [withClearButton]="false"
    [withIcons]="true"
  ></app-tags-list>

  <ion-label *ngIf="!((tags$ | async) || []).length" class="no-data ion-margin">
    <ion-icon name="search" slot="start"></ion-icon>
    Vous n'avez pas de tags pour le moment
  </ion-label>
</ion-content>
