<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title *ngIf="counter$ | async as counter">Compteur {{ counter.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" slot="icon-only" type="button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal" *ngIf="counter$ | async as counter">
  <p>De combien voulez vous incrémenter le compteur ?</p>
  <form (ngSubmit)="submit(counter)" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Date/Heure</ion-label>
      <ion-input formControlName="date"></ion-input>
    </ion-item>

    <ion-chip (click)="removeTime(10 * 60)">10m</ion-chip>
    <ion-chip (click)="removeTime(30 * 60)">30m</ion-chip>
    <ion-chip (click)="removeTime(2 * 60 * 60)">2h</ion-chip>
    <ion-chip (click)="removeTime(6 * 60 * 60)">6h</ion-chip>
    <ion-chip (click)="removeTime(24 * 60 * 60)">1j</ion-chip>
    <ion-chip (click)="resetTime()"><ion-icon class="ion-no-margin" name="refresh-outline"></ion-icon></ion-chip>

    <p>Valeur actuelle : {{ (counter$ | async).value }}</p>
    <p>Dernier event : {{ (counter$ | async).lastEventTs | date: 'short' }}</p>

    <div class="vertical-center-items">
      <ion-item>
        <ion-label position="floating">Incrémenter de ...</ion-label>
        <ion-input (ionChange)="updateNewValueControl(counter)" formControlName="incrementValue" type="number"></ion-input>
      </ion-item>
      <ion-icon size="large" name="swap-horizontal"></ion-icon>
      <ion-item>
        <ion-label position="floating">Nouvelle valeur du compteur</ion-label>
        <ion-input (ionChange)="updateIncrementValueControl(counter)" formControlName="counterNewValue" type="number"></ion-input>
      </ion-item>
    </div>

    <div class="ion-margin-top">
      <ion-item>
        <ion-label>Ajouter une autre valeur</ion-label>
        <ion-checkbox slot="start" formControlName="addAnotherValue"></ion-checkbox>
      </ion-item>
    </div>

    <div>
      <ion-button (click)="close()" type="button">Annuler</ion-button>
      <ion-button type="submit" [disabled]="!form.valid">Confirmer</ion-button>
    </div>
  </form>
</ion-content>
